@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nanum+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    background-image: url(img/фон.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
}
.main-nav{
    font-family: "Merriweather", serif;
    font-size: 25px;
    position: absolute;
    z-index: 100;
    top: 19px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
} 
.main-nav li {
    margin: 0;
}
.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-nav a:hover {
    color:rgb(131, 131, 131);
}