@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nanum+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    background-image: url(img/фон.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}
.main_info{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
@media (max-width: 768px) {
    .main_info{
        flex-direction: column;
    }
}
.info3{
    position: relative;
    top: 70px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px 20px; /* отступ между элементами */
    width: 100%;
}
@media (max-width: 768px) {
    .info3 img{
        height: auto;
    }
    .info3{
        height: 350px;    
        width: 100%;
        gap: 25px 15px;
        margin-left: 20px;
        top: 100px;
    }
}
.tg{
    position: relative;
    top: 70px;
    left: 20px;
}
@media (max-width: 768px) {
    .tg img{
        max-width: 90vw; 
        max-height: 90vw;
        object-fit: cover; /* обрезает по краям, сохраняя пропорции */
    }
    .tg{
        padding-left: 0;
    }
}
.tg figcaption {
    position: absolute;
    font-size: 1.3rem;
    color: white;
}
.inst{
    position: relative;
}
@media (max-width: 768px) {
    .inst img{
        max-width: 43vw; /* ← 45% от ширины экрана — 2 в ряд */
        max-height: 43vw;
    }
}
.inst figcaption {
    position: absolute;
    font-size: 1.3rem;
    color: white;
}
.vk{
    position: relative;
    max-width: 43vw; /* ← 45% от ширины экрана — 2 в ряд */
    max-height: 43vw;
}
@media (max-width: 768px) {
    .vk img{
        max-width: 43vw; /* ← 45% от ширины экрана — 2 в ряд */
        max-height: 43vw;
    }
}
.vk figcaption {
    position: absolute;
    font-size: 1.3rem;
    color: white;
}
.telefon{
    position: relative;
}
.telefon figcaption {
    position: absolute;
    font-size: 1.3rem;
    color: white;
}
@media (max-width: 768px) {
    .telefon img{
        max-width: 90vw;
        max-height: 43vw;
    }
}
.main-nav{
    font-family: "Merriweather", serif;
    font-size: 25px;
    position: absolute;
    z-index: 100;
    top: 19px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
} 
.main-nav li {
    margin: 0;
}
.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-nav a:hover {
    color:rgb(131, 131, 131);
}