@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nanum+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&display=swap');
@font-face {
    font-family: 'CustomFont'; /* Произвольное имя */
    src: url("C:\Users\Тёма\Desktop\мой сайт\сайт крутой\fonts\RazlukaSP-Bold.otf") format('RazlukaSP-Bold');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #bfbfbf;
    background-color: #000000;
    /* padding-top: 80px; */
}
main{
    margin: 0 auto;
    padding-top: 20px;
}
.main-nav{
    font-family: "Merriweather", serif;
    font-size: 25px;
    position: absolute;
    z-index: 100;
    top: 19px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
@media (max-width: 500px){
    .main-nav{
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}  
.main-nav li {
    margin: 0;
}
.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-nav a:hover {
    color:rgb(131, 131, 131);
}
.photo1{
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: center; /* Центрирует по горизонтали */
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* Чтобы не выходила за пределы родителя */
    object-fit: contain;
    
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}
@media (max-width: 768px){
    .photo1{
        width: 300px;   /* ширина 300 пикселей */
        height: auto; 
    } 
}  
@media (max-width: 768px){
    .photo1{
        transform: translate(-50%, -50%) scale(0.7); 
    } 
} 
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
.adress{
    position: relative;
}
