@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Parisienne&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #4f7847;
} 
.tony{
    display: inline-block;
    padding-left: 20px;
    position: relative;
    top: 70px;
    max-width: auto;
}
.music{
    float: right;
    position: relative;
    top: 70px;
    right: 20px;
    display: flex;
    justify-content: space-between; /* или space-around / space-evenly */
    box-sizing: border-box;  
    flex-wrap: wrap;
    gap: 20px;

    height: 720px;    
    width: 740px;     
    overflow: auto;   

    /* Для Firefox */
    scrollbar-width: thin;
    scrollbar-color: #4F7847 #4F7847;
}     
.main-nav{
    font-family: "Merriweather", serif;
    font-size: 25px;
    position: absolute;
    z-index: 100;
    top: 19px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Отступ между ссылками */
}
.main-nav li {
    margin: 0;
    size: 50;
}
.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.main-nav a:hover {
    color:black;
    background-color: #d9d9d9;
}