@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nanum+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(156, 48, 48);
} 
.info3{
    position: absolute;
    margin-left: 780px;
}
@media (max-width: 768px){
    .info3{
    position: absolute;
    margin-left: 20px;
    top: 755px;
    }
}
.tg{
    padding-left: 20px;
    position: absolute;
    top: 70px;
}
.tg figcaption {
    position: absolute;
    font-size: 1.3rem;
    color: white;
}
.inst{
    position: absolute;
    top: 70px;
}
.inst figcaption {
    position: absolute;
    font-size: 1.3rem;
    color: white;
}
.vk{
    position: absolute;
    top: 70px;
    left: 370px;
}
.vk figcaption {
    position: absolute;
    font-size: 1.3rem;
    color: white;
}
.telefon{
    position: absolute;
    top:460px;
}
.telefon figcaption {
    position: absolute;
    font-size: 1.3rem;
    color: white;
}
.main-nav{
    font-family: "Merriweather", serif;
    font-size: 25px;
    position: absolute;
    z-index: 100;
    top: 19px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Отступ между ссылками */
}
.main-nav li {
    margin: 0;
    size: 50;
}
.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.main-nav a:hover {
    color:black;
    background-color: #d9d9d9;
}