@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kapakana:wght@300..400&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Parisienne&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    background-image: url(img/фонWorks2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.tonyray{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 15px;
}
@media (max-width: 768px) {
    .tonyray{
        justify-content: center;
    }
}
.tony{
    display: inline-block;
    padding-left: 20px;
    position: relative;
    top: 70px;
    max-width: auto;
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .tony img{
        /* width: 350px;
        height: 350px; */
        max-width: 90vw; /* ← 45% от ширины экрана — 2 в ряд */
        max-height: 90vw;
        object-fit: cover; /* обрезает по краям, сохраняя пропорции */
    }
    .tony{
        padding-left: 0;
    }
}
.music{
    position: relative;
    top: 70px;
    display: flex;
    box-sizing: border-box;  
    flex-wrap: wrap;
    gap: 20px 20px;
    height: 720px;    
    width: 755px;     
    overflow: auto;
    scrollbar-width: none;   
    justify-content: center;
}
@media (max-width: 768px) {
    .music img {
        max-width: 43vw; /* ← 45% от ширины экрана — 2 в ряд */
        max-height: 43vw;
        height: auto;
    }
    .music{
        height: 350px;    
        width: 100%;
        gap: 10px 15px;
    }
}     
.main-nav{
    font-family: "Merriweather", serif;
    font-size: 25px;
    position: absolute;
    z-index: 100;
    top: 19px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
} 
.main-nav li {
    margin: 0;
}
.main-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.main-nav a:hover {
    color:rgb(131, 131, 131);
}